@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700;800&family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Space Grotesk', sans-serif;
}

::selection {
  background-color: rgba(59, 130, 246, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #05070D;
}
::-webkit-scrollbar-thumb {
  background: #1D4ED8;
  border-radius: 4px;
}